# 新增

In [9]:
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han')

mycursor = conn.cursor()
mycursor.execute('CREATE DATABASE mydb2')

1

In [11]:
# 建立資料表格
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')

mycursor = conn.cursor()

sql = """
CREATE TABLE IF NOT EXISTS Customers (
    ID int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    NAME varchar(20),
    City varchar(20)
)"""
mycursor.execute(sql)

0

In [15]:
# 插入資料錄
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')

mycursor = conn.cursor()

sql = "INSERT INTO customers (Name, City) VALUES (%s, %s)"
val = ('Peter', 'Taipei')

mycursor.execute(sql, val)
conn.commit()
print(f'插入資料錄 {mycursor.rowcount} 筆')

插入資料錄 1 筆

In [20]:
# 插入多筆改用executemany()
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')

mycursor = conn.cursor()

sql = "INSERT INTO customers (Name, City) VALUES (%s, %s)"
val = [('Kevin', 'Taipei'),
       ('John', 'Tokyo'),
       ('Nancy', 'Beijing')
       ]

mycursor.executemany(sql, val)
conn.commit()
print(f'插入資料錄 {mycursor.rowcount} 筆')

插入資料錄 3 筆

# 查詢

In [22]:
# 匯出全部資料
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')

mycursor = conn.cursor()

mycursor.execute('SELECT * FROM customers')
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(2, 'Kevin', 'Taipei')
(3, 'John', 'Tokyo')
(4, 'Nancy', 'Beijing')

In [23]:
# 匯出第一筆資料
mycursor.execute('SELECT * FROM customers')
result = mycursor.fetchone()
print(result)

(1, 'Peter', 'Taipei')

In [26]:
# 多條件查詢
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')

mycursor = conn.cursor()

mycursor.execute('SELECT * FROM customers WHERE City =  "Taipei"')
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(2, 'Kevin', 'Taipei')

In [10]:
#限制筆數
import pymysql
conn = pymysql.connect(host = 'localhost' ,
                       port = 3306 , 
                       user = 'root' ,
                       charset = 'utf8' , 
                       password = 'han' ,
                       database = 'mydb1')

mycursor = conn.cursor()

mycursor.execute('SELECT * FROM customers LIMIT 2')
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(3, 'John', 'Chicago')

# 修改

In [4]:
#將 id=2 的客戶欄位改為 New Taipei 
import pymysql
conn = pymysql.connect(host = 'localhost' ,
                       port = 3306 ,
                       user = 'root' ,
                       charset = 'utf8' ,
                       password = 'han' ,
                       database = 'mydb1')
mycursor = conn.cursor()

#UPDATE 表格 SET 欄位 1=xx, 欄位 2=xx, ...WHERE條件
sql = "UPDATE customers SET City = 'NEW Taipei' WHERE id = 2"
mycursor.execute(sql)
conn.commit()

mycursor.execute('SELECT * FROM customers')
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(2, 'Kevin', 'NEW Taipei')
(3, 'John', 'Tokyo')
(4, 'Nancy', 'Beijing')

In [6]:
#將Tokyo改為chicago
import pymysql
conn = pymysql.connect(host = 'localhost' ,
                       port = 3306,
                       user = 'root',
                       charset = 'utf8' ,
                       password = 'han' ,
                       database = 'mydb1')

mycursor = conn.cursor()

sql = "UPDATE customers SET City = 'Chicago' WHERE City = 'Tokyo'"
mycursor.execute(sql)
conn.commit()

mycursor.execute("SELECT * FROM customers")
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(2, 'Kevin', 'NEW Taipei')
(3, 'John', 'Chicago')
(4, 'Nancy', 'Beijing')

# 刪除

In [9]:
#刪除資料
import pymysql
conn = pymysql.connect(host='localhost',
                       port=3306,
                       user='root',
                       charset='utf8',
                       password='han',
                       database='mydb1')
mycursor = conn.cursor()

# DELETE from 表格 WHERE 條件
sql = 'DELETE from customers WHERE id = 2'
mycursor.execute(sql)
conn.commit()

mycursor.execute('SELECT * FROM customers')
result = mycursor.fetchall()
for r in result:
    print(r)

(1, 'Peter', 'Taipei')
(3, 'John', 'Chicago')
(4, 'Nancy', 'Beijing')

In [11]:
#刪除表格
import pymysql
conn = pymysql.connect(host = 'localhost' ,
                       port = 3306 , 
                       user = 'root' ,
                       charset = 'utf8' ,
                       password = 'han' ,
                       database = 'mydb1')

mycursor = conn.cursor()
sql = 'DROP TABLE IF EXISTS customers'
mycursor.execute(sql)

0